@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/eot/iranyekanwebthinfanum.eot');
  src: url('/assets/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebThinfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/eot/iranyekanweblightfanum.eot');
  src: url('/assets/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanweblightfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebLightfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/eot/iranyekanwebregularfanum.eot');
  src: url('/assets/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebRegularfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/eot/iranyekanwebmediumfanum.eot');
  src: url('/assets/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebMediumfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/eot/iranyekanwebboldfanum.eot');
  src: url('/assets/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebBoldfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/eot/iranyekanwebextraboldfanum.eot');
  src: url('/assets/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebExtraBoldfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/eot/iranyekanwebblackfanum.eot');
  src: url('/assets/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('/assets/fonts/woff/iranyekanwebblackfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/fonts/woff2/IRANYekanWebBlackfanum.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('/assets/fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/ttf/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/ttf/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/ttf/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ttf/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/ttf/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/ttf/Roboto-Thin.ttf') format('truetype');
}

html,
body,
#__next {
  height: 100%
}

body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearHighLight {
  -webkit-tap-highlight-color: transparent;
}

button,
a,
div {
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  opacity: 0.5;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.no-scroll {
  /* scrollbar-width: thin; */
  scrollbar-width: none;
  scrollbar-color: #888 #f1f1f1;
  border-radius: 10px;
}

.no-scroll::-webkit-scrollbar {
  /* width: 5px; */
  width: 0px;
}

.no-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.no-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.border-center-image {
  border-image: linear-gradient(-90deg, transparent, #d2d2d2, transparent) 1;
}

.border-center-image-dark {
  border-image: linear-gradient(-90deg, transparent, #515151, transparent) 1;
}

.border-bottom-image-to-left {
  border-image: linear-gradient(to left, #d2d2d2, transparent) 1;
}

.border-bottom-image-to-left-dark {
  border-image: linear-gradient(to left, #515151, transparent) 1;
}

.border-bottom-image-to-right {
  border-image: linear-gradient(to right, #d2d2d2, transparent) 1;
}

.border-bottom-image-to-right-dark {
  border-image: linear-gradient(to right, #515151, transparent) 1;
}

.border-vertical-image {
  border-image: linear-gradient(to bottom, #d2d2d2, transparent) 1;
}

.border-vertical-image-dark {
  border-image: linear-gradient(to bottom, #515151, transparent) 1;
}